<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>82 commandments</title>
  </head>
  <body>
    <div class="Page">
      <header>
        <h1 class="MainHeading"><span>82</span> commandments</h1>
      </header>
      <p class="Sentence">{{body}}</p>
    </div>
  </body>
</html>
