body {
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Page {
  padding: 1rem 2rem;
}

.MainHeading {
  margin: 0;
  font-size: 2rem;
  line-height: 1;
}

.MainHeading > span {
  font-size: 3.5rem;
}

.Sentence {
  display: inline-block;
  font-size: 2rem;
}

.Sentence-body {
  display: block;
  line-height: 1;
}

.Sentence-body:before {
  content: '“';
  padding: 0 0.3rem 0 0;
}

.Sentence-body:after {
  content: '”';
  padding: 0 0 0 0.3rem;
}

.Sentence-number {
  font-size: 1rem;
  display: block;
  float: right;
}
